/* background property is great and not just background-color
bc you can set the background as a color, image and other things with it */
body {
  background: url('img/img-1.jpg');
}

#title {
  color: rgb(186, 133, 9);
}

.subtitle {
  color: rgb(200, 145, 30);
}
