body {
  background: linear-gradient(
    to bottom,
    rgb(188, 143, 143),
    rgba(188, 143, 143, 0.25)
  );
  font-size: 2em;
}

#title {
  color: rgb(186, 133, 9);
}

.subtitle {
  color: rgb(200, 145, 30);
}

#service-image {
  height: 400px;
  width: 70%;

  background: radial-gradient(circle, red 20%, blue 30%, green 50%);
}

/* Units abosolute and reletive units-mostly used pixels and percentages.  
Relative units is the safest best for multiple devices.  
Pixels if they are using one device bc can look different depending on the device they are using
/* absolute units are mm, cm and inches not dependent on anything else
1 inch is 1 inch.  Best to use px for an absolute value
Absolute is not good for responsive design unless you use px which is design to adjust per device.  
absolute values except for px can be small on tv but too big on phone*/

/* Relative units are usually dependent on something-Really good for responsive deign. 
adjusts with page, parent element etc.  % and em are the most commot relative units
however another 2 is veiw with and view height.
 ex would be like a %unit wil be dependent on parent element size of value
em represents the size reletive to the current standard font size.  Ex 2em makes text double in font-size
veiw width(vw) and veiw height(vh) deals with the veiw port which the dimensions on whatever you are viewing the site on
body's width and body's height.  1vw and 1 vh is 1% of the body's weight or height.  Can go over 100% of viewport
 */
