body {
  background: linear-gradient(
    to bottom,
    rgb(188, 143, 143),
    rgba(188, 143, 143, 0.25)
  );
  font-size: 1.15em;
  text-align: justify;
  font-family: 'Lato', sans-serif;
}

#title {
  color: rgb(186, 133, 9);
  font-family: 'Sarabun', sans-serif;
}

.subtitle {
  color: rgb(200, 145, 30);
  font-family: 'Sarabun', sans-serif;
}

#service-image {
  height: 400px;
  width: 70vw;

  background: radial-gradient(circle, red 20%, blue 30%, green 50%);
}

.link {
  text-decoration: none;
}

.italics {
  font-style: italic;
}

#about-us-image {
  height: 300px;
  width: 60%;
}

/*  Box Model */
/* Changing Content Size-shape and styling 
2 main futures when shaping content is heigh and which we used on svc img
height is best with absolute units like px bc height stay consistent on each device.
 However width changes dramatically so use relative units like vw or percentage */
